.navbar {
  background: white;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #8e44ad;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.nav-links a:hover {
  color: #8e44ad;
}

.crisis-btn {
  background: #ff3b3b;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}